* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    padding-top: 75px;
}

@media screen and (min-width: 992px) {
    body {
        padding-top: 110px;
    }
} 

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

section h2 {
    margin: 0;
    font-size: 36pt;
    font-weight: bold;
    padding-top: 110px;
    text-align: center;
    text-transform: lowercase;
}

section h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #ff8e02;
    margin: 20px auto 90px;
}

@media screen and (max-width: 768px) {
    section h2 {
        font-size: 16pt;        
    }
}

@media screen and (max-width: 1200px) {
    section h2 {
        font-size: 24pt;        
    }
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}

header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header a.logo img {
    height: 25px; 
}

header nav {
    /* transform: scale(0); */
    height: 0;
    max-height: 0;
    overflow: hidden;
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: .5s all ease;
}

header.menu-visible nav {
    /* transform: scale(1) rotate(360deg); */
    height: 330px;
    max-height: 330px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header nav ul li {
    text-align: center;
    padding: 20px 0;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 16pt;
    transition: all .4s ease; 
}

header nav ul li:hover a {
    color: #ff8e02;
}

header button.mobile-menu-toggle {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

@media screen and (min-width: 992px) {
    header .header-wrapper {
        padding: 40px 0;
    }

    header.menu-visible nav {
        height: auto;
        max-height: initial;
    }

    header nav {
        position: static;
        display: block;
        width: auto;
        height: auto;
        max-height: initial;
    }

    header nav ul {
        flex-direction: row;
    }
    
    header nav ul li {
        margin-left: 45px;
        padding: 0;
    }

    header nav ul li:last-child {
        margin-left: 90px;
    }

    header button.mobile-menu-toggle {
        display: none;
    } 
}

section.banner {
    background-image: url('assets/images/foto_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 150px 0;
}

section.banner h1 {
    margin: 0;
    font-size: 72pt;
    line-height: 85pt;
}

section.banner h1::after {
    content: "";
    display: block;
    width: 300px;
    max-width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 50px auto;
}

section.banner h3 {
    margin: 0 0 50px;
    font-size: 24pt;
    line-height: 37pt;
    font-weight: 100;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    line-height: 38px;
    border: 1px solid #fff;
    border-radius: 19px;
    padding: 0 25px;
    text-decoration: none;
    color: #fff;
    background-color: #ff8e02;
    transition: all .4s ease;
}

.btn:hover {
    background-color: #fff;
    border-color: #ff8e02;
    color: #ff8e02;
}

@media screen and (max-width: 1200px) {
    section.banner {
        padding: 100px 50px;
    }
    section.banner h1 {
        font-size: 40pt;
        line-height: 50pt;
    }
    section.banner h3 {
        font-size: 24pt;
        line-height: 30pt;
    }
}

@media screen and (max-width: 768px) {
    section.banner {
        padding: 50px 30px;
    }
    section.banner h1 {
        font-size: 22pt;
        line-height: 30pt;
    }
    section.banner h3 {
        font-size: 18pt;
        line-height: 25pt;
    }
}

section.products {
    background-color: #f7f7f7;
}

section.products .products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.products .products-wrapper .product-item {
    width: 25%;
    text-align: center;
    margin: 60px 0;
    padding: 0 30px;
    transition: color .2s ease;
}

section.products .products-wrapper .product-item:hover {
    color: #ff8e02;
}

section.products .products-wrapper .product-item h4 {
    font-size: 24pt;
    text-transform: uppercase;
    margin: 10px 0 20px;
    font-weight: 400;
}

section.products .products-wrapper .product-item p {
    font-size: 16pt;
    line-height: 26pt;
    font-weight: 300;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    section.products .products-wrapper .product-item {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    section.products .products-wrapper .product-item {
        width: 100%;
        margin: 30px 0;
    }
    section.products .products-wrapper .product-item p {
        max-width: 300px;
        margin: 0 auto;
    }
}

section.articles article {
    margin: 0 -15px;
    display: flex;
    flex-direction: column;
}

section.articles article .img {
    height: 300px;
    background-size: cover;
    background-position: center;
}

section.articles article .content {
    padding: 30px;
    background-color: #ff8e02;
}

section.articles article .content h5 {
    margin: 0;
    font-size: 20pt;
}

section.articles article .content p {
    font-size: 12pt;
    line-height: 18pt;
    margin: 30px 0;
}

@media screen and (min-width: 768px) {    
    section.articles article .content h5 {
        margin: 0;
        font-size: 24pt;
    }

    section.articles article .content p {
        font-size: 16pt;
        line-height: 26pt;
    }
}

@media screen and (min-width: 992px) {
    section.articles article {
        flex-direction: row;
    }

    section.articles article:nth-child(2n) {
        flex-direction: row-reverse;
    }

    section.articles article .content {
        width: 50%;
        padding: 80px;
    }

    section.articles article .content p {
        margin: 60px 0;
    }

    section.articles article .img {
        width: 50%;
        height: auto;
    }
}

section#about p{
    color: #ff8e02;
    text-align: center;
    font-size: 18pt;
    line-height: 39pt;
    font-weight: 200;
}

section#about {
    text-align: center;
}

section#about h6{
    font-size: 13pt;
}

section#map iframe{
    display: block;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    border: none;

}

.mapka{
    position: relative;
}

.mapka::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 10px;
    width: 50vw;
    background-color: #ff8e02;
}

.mapka::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    height: 10px;
    width: 50%;
    background-color: #ff8e02;
}

section#map span{
    display: inline-block;
    height: 10px;
    width: 50%;
    background-color: #ff8e02;
}

.container .wrapper-fotter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .wrapper-fotter h3{
    font-family: 'Exo 2', sans-serif;
    font-size: 24pt;
    font-weight: bold;
    color: white;
}

.container .wrapper-fotter p{
    font-family: 'Exo 2', sans-serif;
    font-size: 12pt;
    line-height: 28pt;
    font-weight: Extra Light;
    color: #ff8e02;
}


footer{
    background-color: black;
    margin: 0;
    border: none;
    padding: 100px 0 200px 0;
}

@media(min-width: 992px){
    .container .wrapper-fotter{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}